body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background-color: lightgoldenrodyellow;
    display: flex;
}

/* --- HEADER and FOOTER --- */
header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 100%;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
}

footer p {
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}

/* --- NAVIGATION --- */
.main-nav {
    margin-right: 125px;
    padding: 18px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.main-nav-item {
    padding-left: 8px;
}

.nav-1,
.nav-2 {
    padding-right: 5px;
    border-right: 1px solid grey;
}

/* --- MAIN --- */
.main-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    color: black;
    border-bottom: 3px solid #cccccc;
}

.main-logo {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 125px;
    margin-top: 25px;
    padding: 18px;
    font-size: 24px;
    text-align: center;
}

/* --- ABOUT --- */
.about-content {
    width: 960px;
    display: flex;
    order: column;
    margin: 110px 125px 110px 125px;
    padding: 10px;
    background-color: lightcyan;
    border: 3px solid #dddddd;
}

.about-header {
    color: #4aaaa5;
    font-size: 24px;
    text-align: center;
    padding: 18px;
    border:  1px solid #cccccc;
}
